@mixin flex (
    $ali: Center,
    $jc: space-between,
    $fw: wrap,
) {
    display: flex;
    align-items: $ali;
    justify-content: $jc;
    flex-wrap: wrap;
}

@mixin button(
    $bg: #d8e2e2 ,
    $b-er: 2px solid #d8e2e2,
) {
    background: $bg;
    border: $b-er;    
}

@mixin button-hover(
    $hov-bg:#710fe2,
    $hov-b-er:2px solid #710fe2,
) {
    // color: #fff;
    background: $hov-bg;
    border: $hov-b-er;
}

@mixin button-activ(
    $act-bg:#ea2719,
    $act-b-er:2px solid #ea2719,
 ) {
    background: $act-bg; 
    border: $act-b-er;
 }



@mixin indent($selector, $color) {
    #{$selector} {
        margin-top: $color;
    }
}

@mixin indent-b($selector, $color) {
    #{$selector} {
        margin-bottom: $color;
    }
}

@mixin indent-l($selector, $color) {
    #{$selector} {
        margin-left:  $color;
    }
}

@mixin indent-r($selector, $color) {
    #{$selector} {
        margin-right:  $color;
    }
}






@mixin margin-mx($selector, $auto) {
    #{$selector} {
        margin-right: $auto;
        margin-left: $auto;
    }
}

@mixin margin-my($selector, $auto) {
    #{$selector} {
        margin-top: $auto;
        margin-bottom: $auto;
    }
}